<section data-ng-controller="ArticlesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Articles</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="article in articles" data-ng-href="#/articles/{{article.id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="article.created_at | date:'medium'"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="article.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!articles.$resolved || articles.length">
    	No Articles yet, why don't you <a href="/#/articles/create">create one</a>?
    </div>
</section>